.nameall{
    text-align: center;
    font-size:50px;
    background-color:red;
}

.container1 {
    width:400px;
    margin-left:50px;
    margin-right:50px;
    border-radius: 5px;
    border: 2px solid red;
}
.containerafter {
        width:400px;
        margin-left:0px;
        margin-right:45px;
        border-radius: 5px;
        border: 2px solid red;
}

.buttonfetch1 {
	width:220px;
	height:40px;
	text-align:center;
	color:GRAY;
	text-decoration:none;
	line-height:43px;
	font-family:'Oswald';
	display: block;
	margin: 75px;
}

.imgdiv {
    border-radius: 8px;
    text-align: center;
    display: block;
}

.secondheader {
    text-align: center;
    font-size:35px;;
    background-color:yellow;

}
.text {
    text-align: center;
    font-size:25px;;

}

.text1 {
    text-align: center;
    font-size:22px;

}